

.removePadding
  padding-right: 0px !important
  padding-left: 0px !important

.mainImageHolder
  min-height: 222px
  .mainImage
    min-height: 222px
// slider
.orbit-container .orbit-slides-container > li.active
  z-index: 9999999999999999999999999999999
.orbitSliderContent
  position: absolute
  z-index: 99999
  top: 22%
  width: 100%
  .columns
    z-index: 99999999999999999999999
  h3
    text-align: center
    font-family: 'Avenir Heavy'
    font-size: 30px
    color: #FFFFFF
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37)
  .buttonFindOut
    z-index: 999999999999999999999999999999999999
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FEFEFE),color-stop(1, #C9C9C9))
    background-image: -o-linear-gradient(bottom, #FEFEFE 0%, #C9C9C9 100%)
    background-image: -moz-linear-gradient(bottom, #FEFEFE 0%, #C9C9C9 100%)
    background-image: -webkit-linear-gradient(bottom, #FEFEFE 0%, #C9C9C9 100%)
    background-image: -ms-linear-gradient(bottom, #FEFEFE 0%, #C9C9C9 100%)
    background-image: linear-gradient(to bottom, #FEFEFE 0%, #C9C9C9 100%)
    padding: 10px 25px
    font-family: $font_Medium
    font-size: 13px
    color: #4b4b4b
    @include border-radius(5px !important)
    text-transform: uppercase
    border: 1px solid #FFFFFF



.productsHolder
  margin-top: -11%
  z-index: 99999999999999999999999999
  .blue
    border-top: 10px solid #3391d2
  .green
    border-top: 10px solid #33ad6c
  .productDetail
    background: #FFFFFF
    padding: 0px !important
    .linkHolderGreen
      background: #33ad6c
    .linkHolderBlue
      background: #3391d2
    .linkHolder
      padding: 15px 10px
      display: block
      font-family: $font_Medium
      color: #FFFFFF
      font-size: 14px



.contentContainer
  padding: 20px 0px

.indexCompanyLogoHolder
  min-height: 250px
  background: url("../images/indexCompanylogo.jpg") left top no-repeat

.hawsDetails
  padding-top: 5%
.hawsAnotherDetails *
  font-family: $font_Medium
.hawsAnotherDetails
  h3
    font-size: 22px
    color: #0075c7
    padding-bottom: 0px
    margin-bottom: 0px
  h4
    margin-top: 0px
    font-size: 18px
    color: #000000
  p
    font-size: 14px
    color: #898989
    line-height: 15px
    font-family: $font_Book
  a
    font-size: 14px
    color: #009747





.detailHolder
  .headerHolder
    float: left
    display: block
    width: 100%
    border-bottom: 1px solid #e5e5e5
    h4
      font-family: $font_Medium
      font-size: 16px
      color: #000000
      padding: 0.5rem
      margin: 0px 0px -1px 0px
      float: left
      border-bottom: 1px solid #009747 !important
  .tabs
    .active
      border-top: 3px solid #009747 !important
    .tab-title
      border-top: 3px solid #FFFFFF
      border-left: 1px solid #e5e5e5
      border-right: 1px solid #e5e5e5
      width: 50%
      a
        font-family: $font_Medium
        font-size: 16px
        color: #000000
        padding: 0.5rem 0.5rem
        margin: 0px
  .tabs-content
    border-bottom: 2px solid #d4d4d4
    border-left: 1px solid #e5e5e5
    border-right: 1px solid #e5e5e5
    @include border-radius( 0px 0px 5px 5px !important)
    .content
      .contactAddress
        margin-top: 10px
      .columns
        p
          font-size: 14px
          color: #898989
          line-height: 15px
          font-family: $font_Book





.newsHolder
  float: left
  margin-top: 5%
  .dateHolder
    background: #333333
    font-family: $font_Medium
    text-align: center
    padding: 0px
    .Date
      width: 100%
      float: left
      font-size: 20px
      color: #FFFFFF
      padding-top: 10px
    .Day
      width: 100%
      float: left
      font-size: 10px
      color: #FFFFFF
      padding-bottom: 10px
    .year
      width: 100%
      float: left
      background: #0075c7
      color: #FFFFFF
      font-size: 12px
      padding: 10px 0px


  .singleNewsHolder
    h4
      font-family: $font_Medium !important
      font-size: 16px
      color: #0075c7
    p
      font-size: 14px
      color: #6a6a6a
      font-family: $font_Book
.findOutMore
  font-size: 14px
  font-family: $font_Book
  color: #009747






/// contact us page
.normalHeader
  background: url("../images/normalHeader.jpg") center
  min-height: 220px
  h3
    font-family: 'Avenir Heavy'
    font-size: 30px
    color: #FFFFFF
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37)
    margin-top: 89px

.sideNavigationHolder
  background: #f4f6f8
  margin-bottom: 30px
  h3
    font-family: $font_Medium
    font-size: 22px
    color: #000000
  ul
    list-style: none
    .ulHeader
      font-size: 14px
      font-family: $font_Book
      color: #0076c8
    li
      .active
        color: #0076c8
      a:hover
        color: #0076c8
      a
        font-family: $font_Book
        color: #000000
        font-size: 16px
      ul
        li
          a
            font-family: $font_Book
            color: #6c6c6c
            font-size: 16px



// product
.productItemHolderCont
  padding: 0px
.productItemContainer
  h2
    color: #0075c7
    font-family: $font_Medium
    font-size: 22px
    margin: 15px 0px
  .productItemHolder
    border: 1px solid #d8d8d8
    padding: 0px
    min-height: 180px
    .imageHolder
      padding: 0px
    .details
      h4
        font-family: $font_Medium
        color: #009747
        font-size: 16px
        margin-top: 0.5rem
        margin-bottom: 0.5rem
      p
        color: #888888
        font-family: $font_Book
        font-size: 14px
        line-height: 16px
      a
        color: #0076c8
        font-family: $font_Book
        font-size: 14px



// 2014 07 03 - updates
//index form
.formHolderIndex
  .form-group
    input
      height: 1.9125rem
    .button-radius
      @include background-image(linear-gradient(#399be0, #087bcb))
      @include border-radius( 10px !important)
      padding: 5px 15px
      text-transform: uppercase
      font-family: $font_Medium
      font-size: 14px
      float: right


// contact page
.contactRow
  margin-top: 20px
  margin-bottom: 20px
.formHolder
  border-bottom: 2px solid #d4d4d4
  border-left: 1px solid #e5e5e5
  border-right: 1px solid #e5e5e5
  @include border-radius( 0px 0px 5px 5px !important)
  border-top: 3px solid #009747 !important
  h3
    font-family: $font_Medium
    font-size: 16px
    color: #000000
    padding: 0.5rem 0.5rem
    margin: 0px
  .form-group
    input
      height: 1.9125rem
    .button-radius
      @include background-image(linear-gradient(#399be0, #087bcb))
      @include border-radius( 10px !important)
      padding: 5px 15px
      text-transform: uppercase
      font-family: $font_Medium
      font-size: 14px
      float: right

