.container
  width: 100%
.rowCustom
  max-width: 1027px
.mainNavBarHolder
  padding-top: 24px
  padding-bottom: 24px
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.68)
  -moz-box-shadow:    0px 0px 13px 0px rgba(0, 0, 0, 0.68)
  box-shadow:         0px 0px 13px 0px rgba(0, 0, 0, 0.68)
  z-index: 1
