.footer
  min-height: 260px
  padding: 25px
  background: #333333
.footerItemHolder
  .BorderFooter
    background: #0075c7
    height: 2px
    width: 20px
    display: block
    margin-bottom: 10px
  p
    font-family: $font_Book
    font-size: 14px
    color: #FFFFFF
  h3
    font-family: $font_Medium
    font-size: 14px
    color: #FFFFFF
  ul
    list-style: none
    padding: 0px
    margin: 0px
    font-family: $font_Book
    li
      a
        color: #FFFFFF
        font-size: 14px
.green
  color: #009747