@import "compass/css3"
.top-bar
  background: #FFFFFF
  ul
    li
      a
        color: #000000
  .top-bar-section
    ul
      li.has-dropdown
        a::after
          color: #000000 !important
          border-color : rgba(0, 0, 0, 0.72) transparent transparent transparent
        a:hover
          color: #0075c7 !important
        a
          color: #000000 !important


      li
        background: #FFFFFF
        a:hover
          color: #0075c7
        a
          color: #000000
          background: #FFFFFF !important
          font-family: $font_Book
          font-size: 14px
        ul.dropdown
          background: #FFFFFF
          z-index: 3
          -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.68)
          -moz-box-shadow:    0px 0px 13px 0px rgba(0, 0, 0, 0.68)
          box-shadow:         0px 0px 13px 0px rgba(0, 0, 0, 0.68)
          @include border-radius(5px !important)
          li:hover
            background: #f4f6f8 !important
            @include border-radius(5px !important)
          li
            background: none !important
            a:hover
              color: #0075c7 !important
              @include border-radius(5px !important)
            a
              color: #000000 !important
              background: none !important

// modile
.top-bar
  .title-area
    .toggle-topbar
      a
        span
          font-family: $font_Medium
  .name
    h1
      a
        color: #000000 !important
  .toggle-topbar.menu-icon
    a:hover
      color: #0075c7 !important
    a
      color: #000000 !important
.expanded
  .title-area
    background: #FFFFFF !important
.top-bar-section .has-dropdown.moved > .dropdown
  box-shadow: none !important
.dropdown
  .back
    h5
      a
        font-weight: bold
