@font-face
  font-family: "Avenir Book"
  src: url('fonts/AvenirLTStd-Book.eot')
  src: local('?'), url('fonts/AvenirLTStd-Book.woff') format('woff'), url('fonts/AvenirLTStd-Book.otf') format('opentype'), url('fonts/AvenirLTStd-Book.ttf') format('truetype')


@font-face
  font-family: "Avenir Light"
  src: url('fonts/AvenirLTStd-Light.eot')
  src: local('?'), url('fonts/AvenirLTStd-Light.woff') format('woff'), url('fonts/AvenirLTStd-Light.otf') format('opentype'), url('fonts/AvenirLTStd-Light.ttf') format('truetype')

@font-face
  font-family: "Avenir Medium"
  src: url('fonts/AvenirLTStd-Medium.eot')
  src: local('?'), url('fonts/AvenirLTStd-Medium.woff') format('woff'), url('fonts/AvenirLTStd-Medium.otf') format('opentype'), url('fonts/AvenirLTStd-Medium.ttf') format('truetype')

@font-face
  font-family: "Avenir Medium Oblique"
  src: url('fonts/AvenirLTStd-MediumOblique.eot')
  src: local('?'),url('fonts/AvenirLTStd-MediumOblique.woff') format('woff'),url('fonts/AvenirLTStd-MediumOblique.otf') format('opentype'),url('fonts/AvenirLTStd-MediumOblique.ttf') format('truetype')


@font-face
  font-family: "Avenir Heavy"
  src: url('fonts/AvenirLTStd-Heavy.eot')
  src: local('?'), url('fonts/AvenirLTStd-Heavy.woff') format('woff'), url('fonts/AvenirLTStd-Heavy.otf') format('opentype'), url('fonts/AvenirLTStd-Heavy.ttf') format('truetype')

$font_Medium : 'Avenir Medium'
$font_Book : 'Avenir Book'

@import "customgrid.sass"
@import "navigation.sass"
@import "content.sass"
@import "footer.sass"

